
@import "css/reset.css";

header {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    font-size: 15px;
}

.header__icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__service i,
.header__icons-icon {
    margin-left: 6px;
    
}

.header__icons{
    font-size: 20px;
    position:relative;
}

.header__icons-icon:last-child{
    font-size: small;
}

.hedaer__icons-new {
    left: 18px;
}